include LICENSE.txt
include README.md
include README.rst
include owlready_ontology.owl
include owlready3_optimized.pyx

graft doc
graft test

prune build
global-exclude *.pyc *.pyo *.so *.c
global-exclude *.save catalog-v001.xml
global-exclude __pycache__
global-exclude .DS_Store
